# Research Question
** Insert question here

# Data Collection Google Trends
** Insert plan for data extraction here

In [5]:
!pip install pytrends
import pandas as pd
import matplotlib.pyplot as plt
from pytrends.request import TrendReq
import requests
import numpy as np
import bs4

Requirement already satisfied: pytrends in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (4.7.3)
Requirement already satisfied: requests in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from pytrends) (2.24.0)
Requirement already satisfied: pandas>=0.25 in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from pytrends) (1.1.1)
Requirement already satisfied: lxml in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from pytrends) (4.5.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from requests->pytrends) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from requests->pytrends) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from requests->pytrends) (2.10)
Requirement already satisfied: numpy>=1.15.4 in /Users/adicarmel/.local/lib/python3.7/site-packages (from pandas>=0.25->pytrends) (1.17.3)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from pandas>=0.25->pytrends) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from pandas>=0.25->pytrends) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/info2950/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)

In [15]:
country_code_data = pd.read_csv("country-codes.csv")
country_code_data = country_code_data.dropna(subset=['UNTERM English Short'])
country_code_data = country_code_data[["FIPS","WMO","ISO3166-1-Alpha-2","UNTERM English Short"]]
country_code_data

    FIPS WMO ISO3166-1-Alpha-2                UNTERM English Short
1     AF  AF                AF                         Afghanistan
2     AL  AB                AL                             Albania
3     AG  AL                DZ                             Algeria
5     AN                    AD                             Andorra
6     AO  AN                AO                              Angola
..   ...  ..               ...                                 ...
242   VE  VN                VE  Venezuela (Bolivarian Republic of)
243   VM  VS                VN                            Viet Nam
246   YM  YE                YE                               Yemen
247   ZA  ZB                ZM                              Zambia
248   ZI  ZW                ZW                            Zimbabwe

[196 rows x 4 columns]

In [22]:
pytrend = TrendReq()
all_country_trends = pd.DataFrame()
for country in country_code_data["ISO3166-1-Alpha-2"][:5]:
    pytrend.build_payload(kw_list=['corona','coronavirus'], geo=country)
    pytrend.interest_over_time()
    all_country_trends = pd.concat([all_country_trends, this_country_trends])

In [23]:
all_country_trends

Empty DataFrame
Columns: []
Index: []

In [20]:
pytrend.build_payload(kw_list=['Coronavirus'])
related_queries = pytrend.related_queries()
related_queries.values()

dict_values([{'top':                             query  value
0              coronavirus update    100
1               coronavirus cases     84
2                news coronavirus     61
3                          corona     58
4                  uk coronavirus     54
5               coronavirus india     48
6            coronavirus symptoms     43
7   thank you coronavirus helpers     38
8                coronavirus tips     34
9                 coronavirus map     32
10                coronavirus usa     32
11              world coronavirus     29
12                 us coronavirus     29
13             coronavirus france     27
14             italia coronavirus     26
15                   corona virus     26
16             coronavirus deaths     26
17               coronavirus live     25
18        worldometer coronavirus     23
19              coronavirus china     23
20             españa coronavirus     23
21             coronavirus españa     23
22                    worldometer     22
23           coronavirus in india     22
24                       covid 19     21, 'rising':                                                 query   value
0                       thank you coronavirus helpers  205550
1                             worldometer coronavirus  125000
2                                         worldometer  120800
3                                            covid 19  111250
4                                   coronavirus stats   61850
5                             india coronavirus cases   42900
6                             coronavirus update live   38650
7                                us coronavirus cases   37500
8                                            covid-19   36750
9                               coronavirus no brasil   35950
10                              coronavirus deaths uk   35600
11                           coronavirus india update   35300
12                           coronavirus update india   35150
13                                    coronavirus nyc   33700
14                         coronavirus cases in india   29550
15                           john hopkins coronavirus   28100
16                            coronavirus ultima hora   27700
17                               coronavirus by state   27050
18  merci à tous ceux qui aident à combattre le co...   25900
19                         ultime notizie coronavirus   25200
20                             coronavirus by country   25050
21                                  wuhan coronavirus   23650
22                           worldometers coronavirus   23400
23                                     nj coronavirus   21900
24                         coronavirus estados unidos   21100}])

# Data Cleaning Google Trends
** Insert plans for data cleaning here

# Data Collection Corona Case Data
** Insert brief explaination of how we collected data here

# Data Cleaning Corona Case Data
** Insert plan / steps for data cleaning here

# Data Description 
** Insert desciption here

# Data Limitations
** Insert data limitations here

# Exploratory data analysis
** Insert exploratory data analysis here

# Questions for reviewer
** Insert questions for reviewer here